In [1]:
def half(x):
    return x/2

In [3]:
l=[10,11,12,13,14]

In [4]:
map(half,l)

In [5]:
list(map(half,l))

[5.0, 5.5, 6.0, 6.5, 7.0]

In [6]:
half(l)

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [7]:
for i in map(half,l):
    print(i)

5.0
5.5
6.0
6.5
7.0

In [9]:
import numpy as np
import pandas as pd
df=pd.DataFrame([[1,2,3],[2,3,np.nan]])

In [10]:
df

   0  1    2
0  1  2  3.0
1  2  3  NaN

In [11]:
def missing_col(x):
    return x.isna().sum()

In [23]:
def ff(x):
    return float(x)

In [24]:
ff(4)

4.0

In [25]:
df[0].map(ff)

0    1.0
1    2.0
Name: 0, dtype: float64

# Map
Map applies user-defined or built-in functions to every element of iterable object that you choose

- So, if it is a list - to every element;
- if it is a dataframe - to every column name

In [28]:
for i in df:
    print(ff(i))

0.0
1.0
2.0

In [29]:
df.map(ff)

AttributeError: 'DataFrame' object has no attribute 'map'

In [32]:
df[1][1].map(ff)

AttributeError: 'numpy.int64' object has no attribute 'map'

In [41]:
df=pd.DataFrame([[0,1,2],[0,2,np.nan]], index=['mouse','cat'])

In [42]:
df

       0  1    2
mouse  0  1  2.0
cat    0  2  NaN

In [43]:
df.filter(like='ouse',axis=0)

       0  1    2
mouse  0  1  2.0

In [44]:
df.filter(like='a',axis=0)

     0  1   2
cat  0  2 NaN

In [46]:
df.filter(items=[0,2])

       0    2
mouse  0  2.0
cat    0  NaN

In [47]:
df.filter(regex='m[o,u]',axis=0)

       0  1    2
mouse  0  1  2.0

In [48]:
from functools import reduce

In [49]:
summation= lambda a,b:a+b

In [50]:
summation(2,3)

5

In [53]:
s=0
for i in l:
    s+=i
s

60

In [54]:
s=0
for i in l:
    s=summation(s,i)
s

60

In [55]:
reduce(summation,l)

60

In [56]:
reduce(lambda a,b: a if a>b else b,l)

14

In [57]:
reduce(lambda a,b: a if (a%2==1)&((a+b)<25) else b**2,l)

196

In [58]:
ll=['cat','dog','rabbit','horse']

In [59]:
reduce(lambda x,y: x+' '+y if len(x)==7 else y if len(y)<7 else 'error',ll)

'horse'

In [60]:
df=pd.DataFrame(np.random.randn(4,3),columns=['a','b','c'])

In [61]:
df

          a         b         c
0  0.335324 -1.417365  0.946236
1 -0.907698  1.085338 -1.674769
2 -0.447574  0.919243  0.423697
3  2.202575 -0.162479 -0.786486

In [62]:
df.apply(half)

          a         b         c
0  0.167662 -0.708683  0.473118
1 -0.453849  0.542669 -0.837384
2 -0.223787  0.459622  0.211849
3  1.101288 -0.081239 -0.393243

In [65]:
def rang_func(x):
    return max(x)-min(x)

In [66]:
df.apply(rang_func)

a    3.110273
b    2.502703
c    2.621005
dtype: float64