In [1]:
import pandas as pd

In [2]:
import os
os.chdir(r'C:\Users\eldiy\Documents\Ironhack\Slides\vehicles\vehicles')

In [3]:
data=pd.read_csv('vehicles.csv')

In [4]:
data.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [6]:
data2=pd.read_csv('vehicles_tab.txt', sep='\t')

In [7]:
data2.head(1)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950

In [8]:
data3=pd.read_csv('vehicles_pipe.txt', sep='|')
data3.sample()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
34281,Volkswagen,Eurovan Camper,1999,2.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,23.543571,13,17,14,634.785714,2400

In [9]:
data4=pd.read_excel('vehicles.xlsx')

In [10]:
data4.sample()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
20890,Lamborghini,Aventador Roadster,2015,6.5,12,Auto(AM-S7),All-Wheel Drive,Two Seaters,Premium,27.4675,10,16,12,742.0,3400

In [15]:
data5=pd.read_json('vehicles.json')
data5.head()

,CO2 Emission Grams/Mile,City MPG,Combined MPG,Cylinders,Drivetrain,Engine Displacement,Fuel Barrels/Year,Fuel Cost/Year,Fuel Type,Highway MPG,Make,Model,Transmission,Vehicle Class,Year
0,522.764706,18,17,4,2-Wheel Drive,2.5,19.388824,1950,Regular,17,AM General,DJ Po Vehicle 2WD,Automatic 3-spd,Special Purpose Vehicle 2WD,1984
1,683.615385,13,13,6,2-Wheel Drive,4.2,25.354615,2550,Regular,13,AM General,FJ8c Post Office,Automatic 3-spd,Special Purpose Vehicle 2WD,1984
2,555.437500,16,16,4,Rear-Wheel Drive,2.5,20.600625,2100,Regular,17,AM General,Post Office DJ5 2WD,Automatic 3-spd,Special Purpose Vehicle 2WD,1985
3,683.615385,13,13,6,Rear-Wheel Drive,4.2,25.354615,2550,Regular,13,AM General,Post Office DJ8 2WD,Automatic 3-spd,Special Purpose Vehicle 2WD,1985
4,555.437500,14,16,6,Rear-Wheel Drive,3.8,20.600625,2550,Premium,21,ASC Incorporated,GNX,Automatic 4-spd,Midsize Cars,1987

In [13]:
?pd.read_json

In [16]:
data5.to_csv('new_vehicles.txt',sep='\t')
data5.to_csv('new_vehicles.txt',sep='|')
data5.to_csv('new_vehicles.csv')

In [17]:
data5.to_excel('new_excel.xlsx')

In [18]:
data4.to_json('new_json.json', orient='split')

In [19]:
import pymysql
from sqlalchemy import create_engine

In [20]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\eldiy\anaconda3\lib\site-packages (0.9.3)

In [27]:
username='root'
ip_address='127.0.0.1:3306'
schema_name='publications2'

In [28]:
engine=create_engine(f'mysql+pymysql://{username}:{password}@{ip_address}/{schema_name}')

In [29]:
data=pd.read_sql_query('select * from publications2.employee',engine)

In [31]:
data.to_sql('employee11',engine,if_exists='replace',index=False)

In [32]:
import os
os.getcwd()

'C:\\Users\\eldiy\\Documents\\Ironhack\\Slides\\vehicles\\vehicles'

In [33]:
os.chdir('../../../../')
os.getcwd()

'C:\\Users\\eldiy\\Documents'

In [34]:
os.chdir('../Downloads/czech')

In [35]:
os.listdir()

['account.csv',
 'berka.pdf',
 'card.csv',
 'client.asc',
 'disp.asc',
 'district.asc',
 'loan.asc',
 'order.asc',
 'trans.asc']

In [36]:
import pandas as pd

In [41]:
names=[i[:-4] for i in os.listdir() if i.endswith('.asc')]

In [42]:
names

['account', 'card', 'client', 'disp', 'district', 'loan', 'order', 'trans']

In [45]:
df=pd.read_csv('account'+'.asc',sep=';')

In [57]:
for name in names:
    exec(f"{name}=pd.read_csv(name+'.asc',sep=';')")

C:\Users\eldiy\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3214: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):

In [61]:
import pymysql
from sqlalchemy import create_engine

In [70]:
engine=create_engine(f'mysql+pymysql://root:{password}@localhost/czech')

In [71]:
for name in names:
    exec(f"{name}.to_sql('{name}',engine,if_exists='replace',index='False')")

In [69]:
for name in names:
    pd.read_csv(name+'.asc',sep=';').to_sql(name,engine,if_exists='replace',index='False')